$body-background: #c8ff5b;
$brand-primary: #999;
$primary-font-size: 14pt;
$secondary-font-size: $primary-font-size / 2.5pt;
$main-content-class: "book";
$font: Helvetica, sans-serif;
$button-color: #ee0000;
$card-background: #ffffff;
