.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.PList2 {
  list-style: none;

}
.PList2 a{
  color: #3D07A3;

}
.PList li{
  font-size: 25px;
  border-style: inset;
  padding: 10px;
  width: 70%;
  margin: auto;
}

Nav.link {
  color: #0B031A;
}


.PList {
  list-style: none;
}

.bio {
  padding-top: 100px;
}
